
.jumbotron {
	text-align: center;
	margin-bottom: 1%;
}

.watchListItems {
	width: 160px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 0px;
}

button btn btn-danger {
	width: 100%;
	padding-top: 10px;
}

#section-watchlist {
	text-align: center;
}

.main-content {
	color: gray;
}

#section-browse {
	background: black;
}
#section-browse ul {
	color: black;
}

#section-browse form {
	margin-bottom: 2%;
}

#section-browse h2 {
	text-align: center;
}
hr {
	border-color: rgba(128,128,128,0.2);
}

section header {
	margin-bottom: 10px;
}

section {
	padding: 2%;
}
