
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
body {
  background-color: black;
}

}

.well {
	background: blue;
	color: white;
	border-width: 0px;
}

.btn {
	width: 100%;
}

.jumbotron {
	background: #33cc33;
	color: black;
	text-align: center;
}

#section-watchlist {
	color: gray;
	min-height: 300px;
	text-align: center;
}
 #btnLogout {
   width: 10%;
 }
 #btnSignUp {
   width: 10%;
 }
#btnLogin {
  width: 10%;
}
#txtEmail {
  width: 15%;
}
#txtPassword {
  width: 15%;
}

#section-watchlist li {
	display: inline-block;
	width: 250px;
	margin: 10px;
	position: relative;
}

#section-watchlist button {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: rgba(0,0,0,0.7);
	color: white;
	border-radius: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#section-watchlist button:hover {
	background: red;
	color: white;
}

.panel {
	margin: 0px;
}

.carousel {
	max-width: 347px;
	margin: 0 auto;
	margin-bottom: 10px;
}

img {
	width: 100%;
	border-radius: 4px;
}

ul {
	padding: 0px;
}

#section-browse {
	background: black;
}

header {
	margin-bottom: 40px;
	color: gray;
}

section, .jumbotron {
	padding: 20px;
}

footer {
	text-align: center;
	margin-top: 60px;
}
